* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav,
.banner,
.about,
.services,
.projects,
.gallery,
.footer {
	padding: 30px;
}


.logo{
	height: 140px;
	width: 140px;
	margin: 0 auto;
}

#logo
{
	width: 140px; 
	height: 140px;
}



nav {
	background-color: black;
	height: 100vh;
	width: 200px;
	position: fixed;
	background-blend-mode: screen;

}

nav:hover li{
	border-bottom: 3px solid #67d1e3;
	margin-bottom:  7px;
}

ul	{
	margin-top: 20px;
}

ul > li { /*child*/
	list-style: none; /*removes bulletpoints*/
	background-color:  #b5e7a0;
	margin-bottom: 10px;
	line-height: 48px; /*base font size is 16px. 16 *3 =48px*/
	text-align: center;
	border-radius: 10px 0px 10px 0px;
}


ul > li:hover {
background-color: gray;
font-size: 20px;
}

ul > li:hover span {
/*background-color: gray;
font-size: 20px;*/
visibility: hidden;
display: none;
}


ul > li > a {
	text-decoration: none; /*removes lines*/
}



.main {
	background-color: lightgrey;
	margin-left: 200px;

}

.banner {
	height: 100vh;
	position: relative; /*added to put the child element in center*/
	background-image: url(../images/backgroundtruck.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #3e4444;
	background-blend-mode: screen;
	color: black;

}

.box {
	border: 5px solid blue;
	text-align: center;
	width: 40%;
	padding: 40px;
	position: absolute; /*position based in browser*/
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); /*enables to center element*/
}

.about {
	background-color: indianred;
	height: 700px;
	background-image: url(../images/backgroundtruck2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: screen;
}

.services {
	background-color: #3b3a30;
	height: 100%;
	color:  #686256;
}

h3, {
	color: white;
}	

h2 {
	color: black;
}

img {
	border-radius: 10px 0px 10px 0px;
}

img[alt*="service"] {
	width: 60px;
	height: 60px;
	display: block;
	float: left;
}

img[alt*="service"]:hover {
	width: 70px;
	height: 70px;
	display: block;
	float: left;
}

.no-top {
	margin-top: 0;
}

.column {

	width: 31%;
	margin-left: 1.16%;
	float: left;
	min-height: 200px;
	margin-top: 20px;

}

.projects {
	background-color:  #3b3a30;
	min-height: 400px;
	background-image: url(../images/backgroundtruck3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: screen;
	color:  black;
}


.gallery {
	background-image: url(../images/containers.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: screen;
	background-color: #454140;
	height: 100%;
}



.gallery > .column {
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
}

img[alt*=gallery] {
	width: 100%;
	height: 100px;
	display: block;
	border: 1px solid black;
}

.footer {
	background-color: green;
	min-height: 50px;
	margin:0 auto;
}


.contact {
	float: right;
}

img[alt*=social]
{
	width: 25px;
	height: 25px;
/*	border: 1px solid black;*/
	display: block;
	float: left;
	margin-right: 10px;
}



.clear:after {
	content: "";
	clear: both;
	display: block;
}


p {
	text-indent: 20px;
	text-align: left;
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}




